#Login-Menu {
    width: 440px;
    display: none;

}


#Login-Menu-Header {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

#welcomeHeader {
    margin-bottom: 20px;
    margin-left: 10px;
    align-content: center;
}

#welcomeHeader {
    margin-bottom: 20px;
    margin-left: 10px;
    align-content: center;
}

.ui.form {
    padding: 13px;
}

#Signup-Login {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    margin-top: 10px;
}

.signup-login-text {
    text-align: center;
    height: 60px;
    transition: 0.4s;
    vertical-align: middle;
    line-height: 60px;
}


.signup-login-text:hover {
    background-color: lightgrey;
    cursor: pointer;
}


.signup-login-paragraph {
    margin-top: 25px;
}

#logoImage {
    height: 100px;
    margin-bottom: 50px;
}

.loginFooter {
    font-size: 16px;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

#loginButton {
    letter-spacing: 2px;
}

.paragraphInput {
    margin-bottom: 10px;
}














