#Login-Menu {
    width: 440px;
    display: none;

}


#Login-Menu-Header {
    display: flex;
    flex-direction: column;
}

#welcomeHeader {
    margin-bottom: 20px;
    margin-left: 10px;
    align-content: center;
}
.ui.form{
    padding: 13px;
}
#logoImage{
    height: 100px;
    margin-bottom: 50px;
}
.loginFooter{
    font-size: 16px;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

#loginButton{
    letter-spacing: 2px;
}

#paragraphInput1{
    margin-bottom: 10px;
}
#paragraphInput2{
    margin-bottom: 10px;
}



